*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body,
html{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;  
}

.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav{
  color:white;
  z-index: 2;
  position: relative;
  padding: 5% 5%;
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
}

.fps{
  color:white;
  width: 100%;
  z-index: 2;
  position: absolute;
  font-size: 1rem;
  left:50%;
  top:85%;
  transform: translate(-50%, -85%)
}

#demo{
  z-index: 3;
  position:relative;
  color: white;
}

video {
  display: block;
}


.camView {
  opacity: 1;
  z-index: 4;
  position: absolute;
  width: 640;
  height: 480;
  bottom:0;
  right:0;
  cursor: pointer;
  transform: scale(0.3);
  }

.featureIndicator {
  background: rgb(255, 13, 0);
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  }

.poseVisualization{
  color:white;
  z-index: 3;
  position: absolute;
  font-size: 2rem;
  left:50%;
  top:80%;
  transform: translate(-50%, -80%)
}
  